{% extends 'base.html' %}

{% block content %}
  <table border>
    <thead>
      <tr>
        <th></th>
        <th>GB</th>
        <th>MB</th>
        <th>KB</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Storage used</td>
        <td>{{ storage_used_gb }}</td>
        <td>{{ storage_used_mb }}</td>
        <td>{{ storage_used_kb }}</td>
      </tr>
    </tbody>
  </table>
  <strong>Max Storage: {{ max_storage }}</strong>
  <button>
    <a href="{% url 'videos' %}">My videos</a>
  </button>
  <button>
    <a href="{% url 'password_change' %}">Change password</a>
  </button>
{% endblock %}
